<% layout('layout') %>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-2" id="now-in">
    <div class="uk-panel uk-panel-box main-content">
    <p>Сейчас в кафе:</p>
      <% users.forEach(function(u){ %>
        <div class="user-in">
        <div class="avatar">
          <%- img_tag(u.avatar) %>
        </div>
        <%- link_to(u.name, '/users/' + u.id) %>
        </div>
      <% }) %>
    </div>
  </div>

<div class="uk-width-medium-1-2" id="schedule">
  <% if (user && user.admin) { %>
  <div class="uk-button-dropdown" data-uk-dropdown>
    <button class="uk-button">Добавить событие <i class="uk-icon-caret-down"></i></button>
    <div class="uk-dropdown">
      <form class="uk-form" method="post" action="/events/add">
        <div class="uk-form-row">
          <input name="when" data-uk-datepicker="{format: 'DD.MM.YYYY'}"  placeholder="Время"/>
        </div>
        <div class="uk-form-row">  
          <input name="description" placeholder="Описание"/>
        </div>
        <div class="uk-form-row uk-form-controls">
          <button type="submit" class="uk-button uk-icon-plus"/>
        </div>
      </form>
    </div>
  </div>
  <% } %>
  <div class="uk-panel uk-panel-box main-content">
    <p>Скоро:</p>
      <% events.forEach(function(e){ %>
        <div class="event-when">
        <%- e.when.toLocaleTimeString() %>
        </div>
        <div class="event-description">
        <%- e.description %>
        </div>
        <div style="clear:both"></div>
      <% }) %>
  </div>
</div>
</div>
