<% layout('layout') %>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-2" id="now-in">
    <div class="uk-panel uk-panel-box main-content">
    <p>Сейчас в кафе:</p>
      <% users.forEach(function(u){ %>
        <div class="user-in">
        <div class="avatar">
          <%- img_tag(u.avatar) %>
        </div>
        <%- link_to(u.name, '/users/' + u.id) %>
        </div>
      <% }) %>
    </div>
  </div>

<div class="uk-width-medium-1-2" id="schedule">
  <div class="uk-panel uk-panel-box main-content">
    <legend>Сегодня:</legend>
    <legend><span>16:00 Тренинг  </span><i class="uk-icon-vk"></i></legend>
  </div>
</div>
</div>
