<% layout('layout') %>

<div class="uk-grid" data-uk-grid-margin>
  <div class="uk-width-medium-1-2" id="now-in">
    <div class="uk-panel uk-panel-box main-content">
    <p>Сейчас в кафе:</p>
      <% users.forEach(function(user){ %>
        <div class="user-in">
        <% if (user) { %>
        <div class="avatar">
          <%- img_tag(user.avatar) %>
        </div>
          <span><%= user.name %></span>
        <% } %>
        </div>
      <% }) %>
    </div>
  </div>

<div class="uk-width-medium-1-2" id="schedule">
  <div class="uk-panel uk-panel-box main-content">
    <legend>Сегодня:</legend>
    <legend><span>16:00 Тренинг  </span><i class="uk-icon-vk"></i></legend>
  </div>
</div>
</div>
