body {
  font-family: 'Roboto', san-serif;
  font-size: 14px;
}
.uk-container {
  max-width: 880px;
  margin-top: 10px;
}
nav.uk-navbar {
  box-shadow: 0px 5px 12px #86640F;
  background: #e7aa14;
  height: 55px;
}
nav.uk-navbar-brand {
  vertical-align: middle;
}
div.uk-navbar-content {
  vertical-align: bottom;
}
a {
  color: #86640f;
}
a:hover {
  color: #411c13;
  text-decoration: none;
}
.account {
  text-shadow: 0 0px 0;
  display: inline-block;
}
#title {
  font-family: 'Lobster', cursive;
  text-shadow: 0 0px 0;
  font-size: 42px;
  color: #411c13;
}
.avatar {
  display: inline-block;
  overflow: hidden;
  margin-right: 2px;
  vertical-align: middle;
}
div.avatar img {
  height: 32px;
  border-radius: 7px 0px;
}
.main-content {
  background: #8cc14c;
  border-radius: 10px 0px;
}
.main-context legend {
  padding: 10px 12px 10px 10px;
}
div.uk-panel .avatar {
  padding: 10px 10px 0px 10px;
}
